<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    {{app-desc}}
    {{app-submit}}
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>
  <section class="zero">
  </section>