<header>
  <div class="wrapper">
  <a href="/"><i class="fa fa-headphones"></i></a>

{{!--     <div class="name-form-container">
        <div class="name-form">
           <label>Name:</label>
           {{input type="text" value=name placeholder="Enter your name"}}
        </div>
        <div class="text">
            <h3>Hello {{name}}. You Look lovely today.</h3>
        </div>
    </div> --}}

  </div>
</header>