    <div id="descritption-wrapper">
        <h1>24HR.MUZE</h1>
        <h2>You way to local muzings</h2>
        <p class="description">Use this app to find local music events that are happening right now! Tell us where you are and we'll tell you 24 hours of events. Customize the options to select distance, paid or free, and whether or not popularity is important to you. Keep rawking my little rawkstars!</p>
    </div>