<section class="zero">
  <div id="results-wrapper">
    <h3></h3>
    <ul id="results-list"></ul>
    <ul id="results-slide"></ul>
    <div id="powered">
        <p>API results powered by</p>
        <i class="ico-eventbrite-logo"></i>
    </div>
  </div>
</section>