    <div id="descritption-wrapper">
        <h1><i class="fa fa-headphones"></i> 24HR.MUZE</h1>
        <h2>Your way to local muzings</h2>
        <p class="description">Use this App to find local music events that are happening right now! Tell us where you are and we'll tell you 24 hours of events. Customize the options to select distance, paid or free events, and whether or not venue popularity is important to you. As always, keep rawking my little rawkstars!</p>
    </div>