<div id="submit-wrapper">
    <a class="getlocationbtn" href="#">Get Your Locale</a>
    <p class="hidden">We Found You!</p>

    <div class="hidden action-container">
    <div class="dropdown" data-radius="radius">
      <div class="dropdown-container">
        <p class="dropdown-description">Radius From Your Loation</p>
        <p class="dropdown-button">Select</p>
        <ul class="dropdown-menu dropdown-select">
          <li>1</li>
          <li>2</li>
          <li>5</li>
          <li>10</li>
        </ul>
      </div>
    </div>

    <div class="dropdown" data-popularity="popularity">
      <div class="dropdown-container">
        <p class="dropdown-description">Only Popular Venues?</p>
        <p class="dropdown-button">Select</p>
        <ul class="dropdown-menu dropdown-select">
          <li>Yes</li>
          <li>No</li>
        </ul>
      </div>
    </div>

    <div class="dropdown" data-price="price">
      <div class="dropdown-container">
        <p class="dropdown-description">Venue Price?</p>
        <p class="dropdown-button">Select</p>
        <ul class="dropdown-menu dropdown-select">
          <li data-attr>Free</li>
          <li>Paid</li>
        </ul>
      </div>
    </div>

    <a class="inspirebtn" href="#">Inspire</a>
    </div>
</div>