    <div id="descritption-wrapper">
        <h1>24HR.MUZE Your Way To Awesome Music Events</h1>
        <p class="description">Use this app to find local music events around you that are happening right now! You tell us where you are and we tell you what’s going on in your vicinity within the next 24 hours. There are a few options to select from (distance, paid or free, and whether or not popularity is important to you).Hope you enjoy the app and remember, keep rawking my little rawkstars!</p>
    </div>