<div id="submit-wrapper">
    <a class="getlocationbtn btn" href="#">Get Started</a>

    <div class="hidden action-container">
    <div class="dropdown" data-radius="radius">
      <div class="dropdown-container">
        <p class="dropdown-description">Max Miles From You</p>
        <p class="dropdown-button">Select</p>
        <ul class="dropdown-menu dropdown-select">
          <li data-value="1">1</li>
          <li data-value="2">2</li>
          <li data-value="5">5</li>
          <li data-value="10">10</li>
          <li data-value="20">20</li>
        </ul>
      </div>
    </div>

    <div class="dropdown" data-popularity="popularity">
      <div class="dropdown-container">
        <p class="dropdown-description">Only Popular Venues?</p>
        <p class="dropdown-button">Select</p>
        <ul class="dropdown-menu dropdown-select">
          <li data-value="true">True</li>
          <li data-value="false">False</li>
        </ul>
      </div>
    </div>

    <div class="dropdown" data-price="price">
      <div class="dropdown-container">
        <p class="dropdown-description">Venue Price?</p>
        <p class="dropdown-button">Select</p>
        <ul class="dropdown-menu dropdown-select">
          <li data-value="free">Free</li>
          <li data-value="paid">Paid</li>
        </ul>
      </div>
    </div>

    <a class="inspirebtn btn" href="#">Get Rawkin'</a>
    </div>
</div>