@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "all";
@import "refills/_dropdown";
@import "refills/_parallax";

.hidden {
    display: none;
    visibility: hidden;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: no-repeat center center rgba(0, 0, 0, 0.8);
    z-index: 2;

    .fa {
        font-size: 50px;
        display: block;
        opacity: 1;
        visibility: visible;
        position: absolute;
        top: 140px;
        left: 50%;
        color: #fff;
        margin-left: -25px;
    }
}

#descritption-wrapper,
#submit-wrapper {
    @include span-columns(6);
    height: 20em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
}

body {
    h1 {
        color: #fff;
        text-align: left;
    }

    p {
        color: #fff;
        text-align: left;
    }
}

section {
    @include outer-container;
    text-align: center;
    margin-bottom: 3em;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;

    div {
        height: $body-line-height * 4;
        line-height: $body-line-height;
        text-align: left;
        padding: 1em;
    }

    &.zero {
        div {
            @include span-columns(6);
            height: 20em;
        }
    }
}

body {
    color: $textblue;
    line-height: $body-line-height;
    text-align: center;
}

h3 {
    margin: 1em;
}

pre {
    line-height: 1.6em;
}

section {
    background-color: $ltblue;
    text-align: center;
    line-height: $body-line-height * 1.5;

    div {
        background-color: $midblue;
        font-size: 0.8em;
        margin-bottom: 2em;
    }

    &.first {
        div#gamma {
            aside, article {
                background-color: #FFF;
            }
        }
    }

    &.second {
        div#beta {
            aside, article {
                background-color: $dkblue;
            }

            aside {
                border-bottom: 1px solid $dkerblue;
            }
        }
    }

    &.third {
        div#dummy {
            background-color: $midblue;
            margin-bottom: 0;
        }

        div#alpha {
            aside {
                background-color: $dkblue;
                border-bottom: 1px solid $dkerblue;
            }

            article {
                background-color: $dkblue;
            }
        }
    }

    &.sixth {
        > pre {
            padding: 10px 0;
        }

        // @include media($mobile) {
        //   font-size: 0.9em;
        //   line-height: 1.5em;
        // }

        div {
            line-height: 2em;
            min-height: 20em;
            text-align: left;
            padding: 1em;
        }

        div#alpha {
            @include span-columns(4);

            //   @include media($mobile) {
            //     @include span-columns(3);
            //   }

        }

        div#beta {
            @include span-columns(8);

            // @include media($mobile) {
            //   @include span-columns(3);
            // }

        }
    }
}

@import "header";
@import "btn";
@import "nameform";
@import "footer";