.btn {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    color: #fff;
    background-color: #00a8f2;
    vertical-align: middle;
    position: relative;
    width: auto;
    height: auto;
    border: 0;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    line-height: 22px;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 20px 0;

    &.disabled {
        background-color: #aaa !important;
        cursor: default;
        color: #fff !important;
    }

    &.inspirebtn {
        display: none;
    }

    &.getlocationbtn {
        padding: 20px 40px;
    }
}