$parallax-window-height: 1200px;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
    max-height: $parallax-window-height;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.parallax-static-content {
    color: #9A9A8A;
    padding: 5.5em 0;
    position: relative;
    z-index: 1;
    max-width: 960px;
    margin: 0 auto;
}

.parallax-background {
    background: url("http://chrisdonham.com/venues/3.jpg") no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #000;
    height: $parallax-background-height;
    left: 0;
    position: absolute;
    top: -$parallax-window-height / 3;
    width: 100%;
}

// Based on http://codepen.io/skeurentjes/